# Ignore large or unnecessary folders
data/
old_versions/
extracted_data/
behaviour_images/
logs/
dev_venv/
dev_env/
dist/
build/
pressure_segment_exports/

# PyInstaller spec file
PressureAnalyzer.spec

# OS and IDE files
.DS_Store
Thumbs.db
*.swp
*.swo

# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook metadata
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Environment files
.venv/
venv/
*.env

# Logs
*.log

# Packaging artifacts
*.egg-info/
.gitignore
